
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #74ebd5, #ACB6E5);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

header {
    text-align: center;
}

canvas {
    border: 3px solid #333;
    background-color: #222;
    display: block;
    margin: 10px auto;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #fff;
}

#controls {
    margin: 10px auto;
    text-align: center;
}
